/* universal styles */
body {
    background-color: #F9CEEE;
    font-family: 'Source Code Pro', monospace;
}

h2 {
    font-size: 1.5rem;
}

/* header */
header {
    font-weight: 900;
    background-color:#0feed0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}


/* mobile buttons */
ul {
    padding-left: 0;
}

li {
    list-style-type: none; 
    margin: 10px;
}

button {
    width: 100%;
    height: 100px;
    background-color: #0feed0;
    border-style: dotted;
    font-family: 'Source Code Pro', monospace;
}

.button-text {
    color: black;
    text-align: left;
    font-size: 1.5rem;
}

.plus {
    font-size:2rem;
    font-weight: 900;
    color: black;
}

/* Projects */

.project-images {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
}